* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "tailwindcss";

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#element {

    background: -webkit-linear-gradient(90deg,
            #f7028d 0%,
            #ef0303 20%,
            #ff016f 40%,
            #ef00a7 60%,
            #144a58 80%,
            #301945 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;
}